<html lang="en">

<head>
</head>

<body>
    <center>
        <h1> Search from Catalogo de Materiais </h1>
        <form action="/search" method="get">
            <input type="text" name="query" />
            <input type="submit" value="Search" />
        </form>
    </center>
</body>

</html>